@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:1250px) {
    .container{
        flex-wrap: wrap;

    }
    .photo{
        width: 460px;
        height: 380px;
    }
}
header{
    width: 90%;
    text-align: center;
    justify-content: center;
    color: navajowhite;
    margin: 20px auto;
    font-family: 'Marck Script', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

section{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}


.container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

.resource_weather{
    width:  50%;
}

.wheather_content{
    width: 50%;
}

table{
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, tr {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

tr:first-child{
    background: yellow ;
}

.last{
    margin-bottom: 50px;
}

footer{

    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-top: 1px black;
    background: dodgerblue;

}

span{
    margin: 0 auto;
}



